<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>SYMULATOR ŁAPANIA KREMÓWEK</title>

    <style>
        body {
            background-color:#000;
            color:#FFF;
            text-align:center
        }
        h1 {text-align:center;color:#FFFF00}
        button {
            background-color: #5865f2;
            color: #fff;
            transition:.2s;
            border-radius:14px;
            cursor:pointer;
            height:30px;
            width:110px;
        }
        button:hover {
            background-color: #4752c4;
        }
        button:active {
            background-color: #3c45a5;
        }
    </style>
</head>
<body>
    <h1 title="PapajSimulator 2 &copy;">SYMULATOR ŁAPANIA KREMÓWEK</h1>
    <hr>
    <img src="https://cdn.discordapp.com/emojis/918163077822836827.webp?size=96" title="Żółta morda" alt=":papiez:" style="margin:12px">
    <img src="https://cdn.discordapp.com/emojis/917939102823899156.webp?size=96" title="Kremówka" alt=":kremowka:" style="margin:12px">

    <p title="Możliwa głęboka penetracja anusa.">Jesteś gotowy na przygodę? Radzimy zabezpieczyć swój odbyt.</p>
    <a href="/nya">
        <button title="Odbyt zabezpieczony!">Jeszcze jak!</button>
    </a>

    <div style="padding-top:20px">
        <img src="/image/anime-szmaciura.png" title="Czy wiesz, że papież był pedofilem?" height="570" alt="Catgirl">
    </div>
</body>
</html>