<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>INSERT KREMÓWKA 2137</title>

    <script src="/javascript/pedo.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1 style="color:#FFFF00">INSERT KREMÓWKA 2137</h1>

    <img src="/image/hambunger.gif" id="left" alt="papirus winiary">
    <img src="/image/papiez-tanczy.gif" id="left2" alt="hehe papaj tańczy">
    <img src="/image/papaj-cube.gif" id="right" alt="papajus cubeus">
    <img src="/image/hehe.gif" id="right2" alt="papież pająk">

    <div id="content">
        <div>W imieniu naszego kraju ogłaszam, że Twój odbyt został spenetrowany przez żółtą mordę.</div>

        <p>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg"></audio>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg"></audio>
        </p>

        <video width="320" height="240" autoplay>
            <source src="/video/papiez.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div id="footer">
        <noscript>
            <div style="color:#ff0000">Wykonanie kodu JavaScript jest wyłączone w Twojej przeglądarce.</div>
        </noscript>
        <%- update.newRelease ? `<div style="color:#00FF00">Dostępna jest nowa aktualizacja v${update.yourVersion} » v${update.current}</div>` : 'Pamiętaj, że strona powstała w celach humorystycznych.' %>
        <div>Copyright 2022 &copy; by Sefinek. All Rights Reserved<a href="https://papiez.skiffybot.xyz/video/MCxpz4ZPLsmsJt43cayWSHE9pV5uugCFkAuj4UyfLk8VcBpPbncuug3jCxdwdfBXgwGKQEq3qXp3YcgzXTuSzVABTdyxTAUzw2KM.webm" style="text-decoration:none;color: #ffc9c9">.</a></div>
        <div><a href="https://github.com/sefinek24/papiez-tanczy" target="_blank">https://github.com/sefinek24/papiez-tanczy</a></div>
    </div>
</body>
</html>