<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>SYMULATOR ŁAPANIA KREMÓWEK</title>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1 title="PapajSimulator 2 &copy;">SYMULATOR ŁAPANIA KREMÓWEK</h1>
    <hr>
    <img src="https://cdn.discordapp.com/emojis/918163077822836827.webp?size=96" title="Żółta morda" style="margin:12px" alt=":papiez:">
    <img src="https://cdn.discordapp.com/emojis/917939102823899156.webp?size=96" title="Kremówka" style="margin:12px" alt=":kremowka:">

    <p title="Możliwa głęboka penetracja anusa.">Jesteś gotowy na przygodę? Radzimy zabezpieczyć swój odbyt.</p>
    <a href="/kremowka">
        <button title="Odbyt zabezpieczony!">Jeszcze jak</button>
    </a>

    <div style="padding-top:20px">
        <img src="/image/anime-szmaciura.png" title="Czy wiesz, że papież był pedofilem?" height="570" alt="Catgirl">
    </div>
</body>
</html>