<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>INSERT KREMÓWKA 2137</title>

    <script src="/javascript/pedo.js"></script>
    <link rel="stylesheet" href="/css/kremowka.css">
</head>
<body>
    <h1 style="color:#FFFF00">INSERT KREMÓWKA 2137</h1>

    <img src="/image/hambunger.gif" id="left" alt="papirus winiary">
    <img src="/image/papiez-tanczy.gif" id="left2" alt="hehe żółta morda tańczy">
    <img src="/image/papaj-cube.gif" id="right" alt="papajus cubeus">
    <img src="/image/hehe.gif" id="right2" alt="papież pająk">

    <div id="content">
        <div>W <a href="DFS7pwpEbTHEZ9MoFDkCqhcbzp8HU9nXeDu3Ah7bBfg2PtPVxzXogAXfpvpH4a6HeZaeHGPKovbBprWnrm97mxMasAhVbN4PeDtnKHwxD8ztYVfPGNnsKy2CzJXaWsqBvjoEskCvSBpgX4w5hhWtfovfwTQTKEUFoHKetNaKPXsdroH9552JRVqNfE8qJtwxAFctUMDaavM2hUzLqZVGnKV2PtRYmMWnTyfdLkMmeZMVmM8adtgYDBrTvHhgVE4eDJSPt6A7vNtgZZRDTy4WATfv3Xco3E36PkmGPmeKy7sYxH3RGvdGPTCgge4JkwfyfZFvKkFJRx8PFz6MvHUJ3WrJAUSmQykvXqr9awhruQEAQaNKj8UKuKTv5cgkaZfyQ77q3PfW6mXmVbwDHQPCZ9yvKefmEUjUrQJT6qgAaDnvfhzpxPsXoqTy5yj9T3tJjC4NsKP3PAXuhWhfbaDYYWWtUF2d9UoRWR6P2kgfkD922RGCrK2Q7oHrua53vRkS8P7yyNehSNJj6QmW2McxzmpuVSVQ9F9GUFESTkAcxJU3ZFprSZoSLbM7t8o3dV9y2eQmXQWUZhoqpbgGB5YNEbmyJ82ouzmVeBFCS4XjKK9ynPEpj5BpFnoQUNCNNp9trfvJHSsT3ZSPfWCYsDMxrAMKNQ" class="uwu">i</a>mieniu naszego kraju ogłaszam, że Twój odbyt został spenetrowany przez żółtą mordę.</div>

        <p>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg"></audio>
            <audio controls autoplay><source src="/sound/music.mp3" type="audio/mpeg"></audio>
        </p>

        <video width="320" height="240" autoplay>
            <source src="/video/papiez.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div id="footer">
        <noscript>
            <div style="color:#FF0000">Wykonanie kodu JavaScript jest wyłączone w Twojej przeglądarce.</div>
        </noscript>
        <%- update.newRelease ? `<div style="color:#00FF00">Dostępna jest nowa aktualizacja v${update.yourVersion} → v${update.current}</div>` : 'Pamiętaj, że strona powstała w celach humorystycznych.' %>
        <div>Copyright 2022 &copy; by Sefinek. All Rights Reserved<a href="https://papiez.skiffybot.xyz/video/MCxpz4ZPLsmsJt43cayWSHE9pV5uugCFkAuj4UyfLk8VcBpPbncuug3jCxdwdfBXgwGKQEq3qXp3YcgzXTuSzVABTdyxTAUzw2KM.webm" class="uwu">.</a></div>
        <div><a href="https://github.com/sefinek24/papiez-tanczy" target="_blank">https://github.com/sefinek24/papiez-tanczy</a></div>
    </div>
</body>
</html>