<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>I co teraz kurwa?</title>

    <script src="/javascript/nya.js"></script>
</head>
<body>
    <h1>ZOSTAŁEŚ SPAPIEŻOWANY</h1>
</body>
</html>