body {
    background-color:#000;
    color:#FFF;
    text-align:center
}

h1 {color:#FF0;text-align:center}

button {
    background-color:#5865f2;
    border-radius:14px;
    color:#fff;
    cursor:pointer;
    height:30px;
    transition:.2s;
    width:110px
}

button:hover {background-color:#4752c4}
button:active {background-color:#3c45a5}