body {
    background-color: #000;
    color: #fff;
    text-align: center
}

h1 {
    color: #f4b568;
    text-align: center
}

button {
    background-color: #5865f2;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    transition: .2s;
    width: 110px
}

button:hover {
    background-color: #f5b36c
}

button:active {
    background-color: #3c45a5
}