body {color:#fff}

@keyframes colors {
    0% {background-color:#ffea00}
    25% {background-color:#070707}
    50% {background-color:#ffae00}
    75% {background-color:#070707}
    100% {background-color:#FFFF00}
}

body {
    -webkit-animation:colors 1s infinite;
    animation:colors 1s infinite;
    -webkit-animation-direction:alternate;
    animation-direction:alternate
}

h1 {font-size:50px;padding-bottom:30px;text-align:center}

#left {
    left:7px;
    position:absolute;
    top:7px;
    width:389px
}
#left2 {
    bottom:7px;
    left:7px;
    position:absolute;
    width:389px
}
#right {
    bottom:7px;
    position:absolute;
    right:7px;
    width:389px
}
#right2 {
    position:absolute;
    right:7px;
    top:7px;
    width:389px
}

video {
    bottom:0;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0;
    width:500px
}

#content {text-align:center}
#footer {bottom:0;left:0;position:absolute;right:0;text-align:center}
a {color:#008CFF}