body {color:#fff}

@keyframes colors {
    0% {background-color:#ffe900}
    25% {background-color:#070707}
    50% {background-color:#ffe900}
    75% {background-color:#070707}
    100% {background-color:#ffffff}
}

body {
    -webkit-animation:colors .1s infinite;
    animation:colors .1s infinite
}

h1 {color:#ffcd88;#font-size:50px;padding-bottom:30px;text-align:center}

#left {
    left:7px;
    position:absolute;
    top:7px;
    width:360px
}
#left2 {
    bottom:7px;
    left:7px;
    position:absolute;
    width:360px
}
#right {
    bottom:7px;
    position:absolute;
    right:7px;
    width:360px
}
#right2 {
    position:absolute;
    right:7px;
    top:7px;
    width:360px
}

video {
    bottom:0;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0;
    width:500px
}

#content {text-align:center}
.uwu {text-decoration:none;color:#ffe1e1}
#footer {bottom:0;left:0;position:absolute;right:0;text-align:center}
a {color:#008cff}